<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleName</key>
		<string>SeydoggySlideshow 3</string>
		<key>CFBundleIdentifier</key>
		<string>com.seydoggy.rwthemes.seydoggyslideshow3</string>
		<key>CFBundleVersion</key>
		<string>3.000</string>
		<key>CFBundleShortVersionString</key>
		<string>3</string>
		<key>NSHumanReadableCopyright</key>
		<string>© 2005-2011 seyDoggy. All rights reserved.</string>
	</dict>
</plist>