/* @option Width */
.wrapperOuter{min-width:750px;}
.wrapperInner{width:660px;}
.sidebarContent{display:none ! important;}
.mainContent{border-style:none ! important;float:right ! important;padding-left:0 ! important;padding-right:0 ! important;width:100% ! important;}
